[tool.poetry]
name = "envex"
version = "3.0.3"
description = "Environment interface with .env and hashicorp vault support"
authors = ["David Nugent <davidn@uniquode.io>"]
readme = "README.md"
license = "MIT"
classifiers = [
    "Framework :: Django",
    "Programming Language :: Python :: 3",
]

[tool.poetry.dependencies]
python = ">= 3.10, < 4.0"

[tool.poetry.group.dev.dependencies]
black = ">=23.7,<25.0"
isort = "^5.12.0"
ruff = "^0.0.285"
pre-commit = "^3.3.3"

[tool.poetry.group.test.dependencies]
pytest = ">=7.0"
pytest-mock = "^3.11.1"
pytest-cov = "^4.1.0"

[tool.poetry.group.vault.dependencies]
hvac = ">= 1.1.1"

[tool.poetry.scripts]
env2hvac = "scripts.env2hvac:main"
envsecrets = "scripts.envsecrets:main"
seal = "scripts.seal:main"

[tool.pytest.ini_options]
minversion = "7.0"
pythonpath = ["."]
testpaths = ["tests"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
